<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQLSerdan" connectionString="Data Source=LAPTOP-LJCQA84V\SQLSERVERACER16;Initial Catalog=Serdan;User ID=sa;password =12345"/>
  <!--<add name="SQLSerdan" connectionString="Data Source=SERVIDOR\SQLEXPRESSSERD14;Initial Catalog=Serdan;User ID=sa;password =serdan10"/>-->
  <!--<add name="SQLFacturacion" connectionString="Data Source=SERVIDOR\SQLEXPRESS14;Initial Catalog=Serdan;User ID=sa;password =serdan10"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
