<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AiresUtilerias.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AiresUtilerias.Properties.Settings>
            <setting name="BotanasUtilerias_mx_pade_timbrado_IntegracionCfdi"
                serializeAs="String">
                <value>https://timbrado.pade.mx:443/PadeServ/IntegracionCfdi</value>
            </setting>
            <setting name="BotanasUtilerias_mx_pade_timbradoCorreo_Timbrado4_0"
                serializeAs="String">
                <value>https://timbrado.pade.mx:443/servicio/Timbrado4.0</value>
            </setting>
        </AiresUtilerias.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
